<div class="col-md-8 wow fadeInRight col-xs-12 col-sm-12" data-wow-delay=".25s" data-wow-delay=".25s" id="content" style="float:right;">
  <h2>User Profile</h2>
  <div class="panel panel-default">
    <div class="panel-body pnl-body">
      <div class="col-md-4" style="float:left;border-right:3px solid #f5f5f5;">
        <img [src]="image.image " class="img-thumbnail" width="300px;" height="250px;">
      </div>
      <div class="right col-md-3 col-xs-6"> Username</div> <div class="left col-md-3 col-xs-6">{{image.username}}</div>
      <div class="right col-md-3 col-xs-6"> Email</div> <div class="left col-md-3 col-xs-6">{{image.email}}</div>
      <div class="right col-md-3 col-xs-6"> Mobile</div> <div class="left col-md-3 col-xs-6">{{image.mobile}}</div>
      <div class="right col-md-3 col-xs-6"> Address</div> <div class="left col-md-3 col-xs-6">{{image.address}}</div>
      <div class="right col-md-3 col-xs-6"> Date Of Birth</div>  <div class="left col-md-3 col-xs-6"> {{image.date}}</div>
    </div>
  </div>
</div>
