<div class="col-md-8 col-xs-12 col-sm-12" id="content" style="float:right;">
    <br>
    <h2>ALL USERS</h2>
    <table class="table table-bordered">

        <thead>
            <tr>
                <th>S.No</th>
                <th>image</th>
                <th>Username</th>
                <th>email</th>
                  <th>admin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users; let i=index">
                <td>{{i+1}}</td>
                 <td><img src="https://publicserver.localtunnel.me/{{u.propic}}" class="img-circle" width="40" height="40"></td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td *ngIf="u.admin == 'false'"><button class="btn btn-primary" (click)="makeAdmin(u.username)">make Admin</button></td>   
                <td *ngIf="u.admin == 'true'" ><button class="btn btn-success">Admin <i class="fa fa-check"></i></button></td>
               
            </tr>
        </tbody>

    </table>


</div>