.panel-body {
    padding: 0px;
}

.panel {
    padding: 0px;
}

.col-md-8 {
    padding: 0px;
}

img {
    padding-right: 5px;
}
.errorMessage {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    color: #bdb9b9;
}