.panel-body{
padding:0px;
}
.panel{
padding:0px;
}

.col-md-8 {
    padding:0px;
}
img {
padding-right:5px;}
.errorMessage {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    color: #bdb9b9;
}
.btn-default {
    height: 44px;
    background-color: #4184ab;
    color: #fff;
    border: 1px solid #4184ab;
    font-size: 25px;
    padding-top: 7px;
}
.input-group input {
    height: 44px;
    border: 1px solid #4184ab;
}