<div class="col-md-8 col-xs-12 col-sm-12" id="content" style="float:right;">
    <div class="col-md-8">
        <h2 class="sideheading">Search Friends</h2>
        <form (ngSubmit)="onSearchFriend(searchForm.value)" #searchForm="ngForm">
            <div class="input-group">
                <input list="post" class="form-control" name="username" id="username" #username="ngModel" (ngModel)="user.searchFriend" required>
                <datalist id="post"><option *ngFor="let u of users" [value]="u.username">{{u.email}}</option></datalist>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form> <br /><br /><br />
        <div *ngIf="userdetails" class="panel panel-default">
            <div class="panel-body pnl-body">
                <div class="col-md-4"> <img [src]="userdetails.propic" class="img-circle" width="70" height="70" style="float:left;"></div>
                <div class="col-md-8">
                    <div class="right col-md-6 col-xs-6"> Username</div> <div class="left col-md-6">{{userdetails.username}}</div>
                    <div class="right col-md-6">status</div>
                    <div class="left col-md-6 col-xs-6"> <button id="btn-info" style="color:#fff;" class="btn btn-info" (click)="onRequest();">{{requestStatus}}</button></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <h2 class="sideheading">Friend Request</h2>

        <div *ngFor="let request of friendRequests" class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4"> <img [src]="request.propic" class="img-circle" width="50" height="50" style="float:left;"></div>
                <div class="col-md-8">
                    <label class="col-md-8">{{request.username}}</label>
                </div><br /><br />
            </div>
            <div class="container-fluid">
                <div class="col-md-6">
                    <button id="accept" class="btn btn-primary" onclick="accept();" style="color:#fff;"> Accept</button>
                  </div> 
                <div class="col-md-6">
                  <button class="btn btn-danger">decline</button>
                </div> 
                </div>
            </div>

    </div>
</div>
