
li {
    list-style: none;
}

.fa-close {
    font-size: 21px;
    float: right;
    position: relative;
    margin-right: 9px;
    margin-top: 9px;
    cursor: pointer;
}


.sidenav {
    box-shadow: 2px 3px 4px #f5f5f5;
    background-color: #fff;
    border: 3px solid rgb(238, 238, 238);
}

    .sidenav li {
        font-size: 16px;
        padding: 7px 7px;
        font-family: sans-serif;
        letter-spacing: 1px;
        
        text-align: justify;
        text-transform: capitalize;
    }

        .sidenav li:hover {
            box-shadow: 2px 2px 2px 2px lightgray;
        }

.container {
    padding: 0px;
}

a {
    color: #000;
}

.sidenav li:hover a {
    text-decoration: none;
}


.left {
    text-align: right;
}
