<app-adminheader>Loading...</app-adminheader>

<div class="container">
    <div id="mySidenav1" class="sidenav" style="float:left">
        <div class="col-md-12 col-xs-12 user">
            <img [src]="userdetails.propic" (click)="closeNav()" routerLink="userprofile" class="img-circle userdetail" width="70" height="70">
            <div class="userdetail"><label>{{userdetails.username}}</label></div>
        </div>
        <a (click)="closeNav()" routerLink="viewallusers">View All Users<i class="fa fa-chevron-right" style="float:right;margin-top:4px"></i></a>
        <a (click)="closeNav()" routerLink="viewallfriends">view all friends and request<i class="fa fa-chevron-right" style="float:right;margin-top:4px"></i></a>
        <a (click)="closeNav()" routerLink="addpost">Add post<i class="fa fa-chevron-right" style="float:right;margin-top:4px"></i></a>
        <a (click)="closeNav()" routerLink="viewallpost">View All Posts<i class="fa fa-chevron-right" style="float:right;margin-top:4px"></i></a>
        <a (click)="closeNav()" routerLink="viewallrecommendedpost">View All Recommended Posts<i class="fa fa-chevron-right" style="float:right;margin-top:4px"></i></a>
        <a (click)="closeNav()" routerLink="viewAllsearchhistory">View All Search History<i class="fa fa-chevron-right" style="float:right;margin-top:4px"></i></a>
        <a (click)="closeNav()" routerLink="tophitkchart">View Chart<i class="fa fa-chevron-right" style="float:right;margin-top:4px"></i></a>
        <a (click)="logout()">logout<i class="fa fa-chevron-right" style="float:right;margin-top:4px"></i></a>
    </div>
    <div><router-outlet></router-outlet></div>
</div>


