<div class="col-md-8 wow fadeInRight col-xs-12 col-sm-12" data-wow-delay=".25s" id="content" style="float:right;">
  <br>

  <h2>All post with Keyword "ktm"</h2>
  <table class="table table-bordered">
    <tbody>

      <tr>
        <td rowspan="8"><img src="uploads/bike1.jpg"></td>
        <td>Product Name</td>
        <td>ktm</td>
      </tr>
      <tr>
        <td>color</td>
        <td>brown&orange</td>
      </tr>

      <tr>
        <td>Total votes </td>
        <td id="vote">30</td>
      </tr>
      <tr>
        <td>Uses</td>
        <td>racing</td>
      </tr>
      <tr>
        <td>Recommand to Friend</td>
        <td><a href="recommandtofriend.php">Recommand</a></td>
      </tr>
      <tr>
        <td>vote here</td>
        <td><i id="votes" class="fa fa-thumbs-up" onclick="increment();"></i></td>
      </tr>
      <tr>
        <td>Rating</td>
        <td></td>
      </tr>
      <tr>
        <td>rieview</td>
        <td><a href="review.php">review</a></td>
      </tr>
      <tr>
        <td colspan="3"><h6>Description:</h6>&nbsp;this is racing bike</td>
      </tr>
    </tbody>
  </table>
</div> <div class="col-md-8 wow fadeInRight col-xs-12 col-sm-12" data-wow-delay=".25s" id="content" style="float:right;">
  <br>

  <h2>All post with Keyword "ktm"</h2>
  <table class="table table-bordered">
    <tbody>

      <tr>
        <td rowspan="8"><img src="uploads/bike1.jpg"></td>
        <td>Product Name</td>
        <td>ktm</td>
      </tr>
      <tr>
        <td>color</td>
        <td>brown&orange</td>
      </tr>

      <tr>
        <td>Total votes </td>
        <td id="vote">30</td>
      </tr>
      <tr>
        <td>Uses</td>
        <td>racing</td>
      </tr>
      <tr>
        <td>Recommand to Friend</td>
        <td><a href="recommandtofriend.php">Recommand</a></td>
      </tr>
      <tr>
        <td>vote here</td>
        <td><i id="votes" class="fa fa-thumbs-up" onclick="increment();"></i></td>
      </tr>
      <tr>
        <td>Rating</td>
        <td></td>
      </tr>
      <tr>
        <td>rieview</td>
        <td><a href="review.php">review</a></td>
      </tr>
      <tr>
        <td colspan="3"><h6>Description:</h6>&nbsp;this is racing bike</td>
      </tr>
    </tbody>
  </table>
</div> 
