
.modal-body .form-horizontal .control-label {
    text-align: left;
}


.star{
    color:red;
}
.fa-thumbs-o-up{
    font-size:23px;
    cursor:pointer;
    color:gray;
}
.fa-thumbs-o-up:hover{
    color:#000;
}