/* You can add global styles to this file, and also import other style files */
.pnl-body .left, .pnl-body .right {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: cursive;
    line-height: 25px
}

.pnl-body {
    border-left: 4px solid green;
}