<div class="container">
  <app-header>Loading...</app-header>
    <ul class="sidenav wow col-md-4 fadeInLeft hidden-xs" data-wow-delay=".25s" id="sidenav" style="float:left;">
      <li>
        <a routerLink="userprofile">View your profile</a>
      </li>
      <li>
        <a routerLink="searchforfriend">search friends & friend request</a>
      </li>
      <li>
        <a routerLink="viewallmyfriends">view all my friends</a>
      </li>
      <li>
        <a routerLink="searchforpost">search for post</a>
      </li>
      <li>
        <a routerLink="mysearchhistory">my search History</a>
      </li>
      <li>
        <a routerLink="recommend">view recommendations</a>
      </li>
      <li>
        <a routerLink="userinterest">view user interest on post</a>
      </li>
      <li>
        <a routerLink="tophitkrate">view top hit K rate</a>
      </li>
      <li>
        <a routerLink="">logout</a>
      </li>
    </ul>
  <div class=""><router-outlet></router-outlet></div>
  </div>

