.navbar-right div {
    cursor: pointer;
    padding-right: 10px;
    padding-top: 6px;
    float: right;
}

    .navbar-right div img {
        margin-right: 10px;
    }

.sidenav {
    height: 100%;
    width: 0;
    border-top: 1px solid #f1f1f1;
    position: fixed;
    z-index: 1;
    top: 52px;
    left: 0;
    background-color: #4184ab;
    overflow-x: hidden;
    transition: 0.5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        border-bottom: 1px solid;
        margin-left: 13px;
        margin-right: 13px;
    }

.search {
    margin-top: 6px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.username {
    padding: 10px;
    letter-spacing: 1px;
}

.votes {
    padding-right: 10px
}

.panelbtmline {
    margin: 10px;
}

    .panelbtmline .btn {
        margin-right: 10px;
    }
