<div class="col-md-8 wow fadeInRight col-xs-12 col-sm-12" data-wow-delay=".25s" data-wow-delay=".25s" id="content" style="float:right;">
    <h2>User Profile</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-4 userpic">
                <img [src]="user.propic" width="200" height="200">
            </div>
            <div class="col-md-8 col-xs-12 userdetails">
                <label class="right col-md-12 col-xs-12"> <span class="fa fa-user-o"></span> {{user.username}}</label>
                <label class="right col-md-12 col-xs-12"> <span class="fa fa-envelope"></span> {{user.email}}</label>
                <label class="right col-md-12 col-xs-12"><span class="fa fa-address-book-o"></span> {{user.contact}}</label>
            </div>
        </div>
    </div> 


</div>