
<div class="col-md-8 wow fadeInRight col-xs-12 col-sm-12" data-wow-delay=".25s" id="content" style="float:right;">
    <h2> All recommandations</h2>
    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Recommended By</th>
                <th>RecommendedTo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of recommends">
                <td>{{request.productname}}</td>
                <td>{{request.username}}</td>
                <td>{{request.recommendTo}}</td>
                    </tr>
        </tbody>
    </table>


</div>