<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <span style="float:left" (click)="openNav()" class="fa fa-bars"></span>
        <div class="nav navbar-right">
            <span routerLink="/user/usermainpage" class="fa fa-home" style="float:right"></span>
            <div class="dropdown">
                <span class="fa fa-globe dropdown-toggle" data-toggle="dropdown" style="float:left;margin-top:4px;margin-right:0px">
                <span *ngIf="notifications.length" class="badge">{{notifications.length}}</span></span>
                <ul *ngFor="let notification of notifications" class="dropdown-menu">
                    <li><a><a routerLink="/user/viewprofile/{{notification.username}}">{{ notification.username }}</a> sent you friend Request</a></li>
                    <li *ngIf="notification.productname"><a><a routerLink="/user/viewprofile/{{notification.username}}">{{ notification.username }}</a> shared you
                     <a routerLink="/user/viewproduct/{{notification.productname}}">{{notification.productname}}</a></a>  </li>
                                  </ul>
                <ul *ngIf="!notifications.length" class="dropdown-menu">
                    <li><a>no data to dispay</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>