<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <span style="float:left" (click)="openNav()" class="fa fa-bars"></span>
        <div class="nav navbar-right">
            <span routerLink="/user/usermainpage" class="fa fa-home" style="float:right"></span>
            <div class="dropdown">
                <span class="fa fa-globe dropdown-toggle" data-toggle="dropdown" style="float:left;margin-top:4px;margin-right:0px">
                    <span *ngIf="notifications.length" class="badge">{{notificationCounter}}</span></span>
                <ul *ngIf="notifications.length" class="dropdown-menu">
                    <li *ngFor="let notification of notifications; let i=index"><a *ngIf="notification">
                        <a routerLink="/user/viewprofile/{{notification.username}}" (click)="cleanNotification(notification, i)">{{ notification.username }}</a><span class="extentnotification"> sent you friend Request</span></a></li>
                    <li *ngFor="let notification of notifications">
                        <a *ngIf="notification.productname" (click)="cleanNotification(notification, i)">
                            <a routerLink="/user/viewprofile/{{notification.username}}" >{{ notification.username }}</a> <span class="extentnotification">shared you</span>
                            <a routerLink="/user/viewproduct/{{notification.productname}}">{{notification.productname}}</a>
                        </a>
                    </li>
                </ul>
                <ul *ngIf="!notifications.length" class="dropdown-menu">
                    <li><a>no data to dispay</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>